matrix:
  include:
    - stage: testing
      language: python
      python:
        - "3.6"

      env:
          - MPI=mpich
          - MPI=openmpi
      before_install:
          - test $MPI == mpich && PACKAGES='mpich libmpich-dev' || true
          - test $MPI == openmpi && PACKAGES='openmpi-bin libopenmpi-dev' || true
          - sudo apt-get update -qq && sudo apt-get install -qq $PACKAGES
                  
      install:
        - export PYTHONPATH=$TRAVIS_BUILD_DIR:$PYTHONPATH
        - git clone https://github.com/djgroen/FabFlee.git
        - pip install numpy pandas mpi4py        
        - mv post-processing outputanalysis
        #- rm -f ~/.ssh/id_rsa
        #- ssh-keygen -t rsa -N "" -f ~/.ssh/id_rsa
        #- cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
        #- chmod og-wx ~/.ssh/authorized_keys
        #- ssh-keyscan -H localhost >> ~/.ssh/known_hosts        
        #- pip install -r requirements.txt
        #- git clone https://github.com/djgroen/FabSim3.git 
        #- cd FabSim3
        #- pip install -r requirements.txt
        #- sed "s/your-username/`whoami`/g" <<< cat deploy/machines_user_example.yml > deploy/machines_user.yml
        #- export PATH=$TRAVIS_BUILD_DIR/FabSim3/bin:$PATH
        #- export PYTHONPATH=$TRAVIS_BUILD_DIR/FabSim3:$PYTHONPATH        
        #- fabsim localhost install_plugin:FabFlee
        #- ssh -t travis@localhost 'python --version;'
        #- ssh -t travis@localhost 'python3 --version;'
        #- ssh -t travis@localhost 'pip3 install numpy pandas mpi4py;'
        #- fabsim localhost flee:mali,simulation_period=50,flee_location=$TRAVIS_BUILD_DIR/flee

      script:
        - cd $TRAVIS_BUILD_DIR
        - echo $PATH
        - echo $PYTHONPATH
        - python -m pytest --log-cli-level=10 tests/


