wheel
coverage
mkdocs
mkdocs-autolinks-plugin
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-enumerate-headings-plugin
mkdocs-macros-plugin
mkdocs-markdownextradata-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocs-print-site-plugin
mkdocstrings-python-legacy
pytest
black
flake8
flake8-html
flake8-bugbear
isort
pylint
versioneer
seaborn
muscle3
