mkdocs
mkdocs-autolinks-plugin
mkdocs-autorefs
mkdocs-enumerate-headings-plugin
mkdocs-macros-plugin
mkdocs-markdownextradata-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocs-awesome-pages-plugin
mkdocs-print-site-plugin
mkdocs-autolinks-plugin
mkdocstrings
mkdocstrings-python
pytkdocs==0.12
